.header{
    animation-duration: 2s;
    animation-name: slide;
}

@keyframes slide{
    from{
        height:100vh;
    }

    20%{
        height: 100vh;
    }

    to{
        height:200px;
    }
}

.home .body .image{
    width: 45%;
    max-width: 500px;
    height: fit-content;
}

.home .body .part{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 440px;
    padding: 0 20px;
    box-sizing: border-box
}

.home .body .part p{
    width: 45%;
    max-width: 800px;
    font-size: 18px;
    color: #f1f3f5;
}

.home .body .p2{
    display: flex;
}



@media(max-width: 1250px){
    .home .body .image{
        width: 55%;
    }
    .home .body .part p{
        width: 35%;
    }
}

@media(max-width:800px){
    .home .body .part{
        flex-direction: column;
        margin: 50px auto;
    }

    .home .body .part2{
        flex-direction: column-reverse;
    }

    .home .body .image{
        width: 60%;
    }
    .home .body .part p{
        width: 50%;
    }
}

@media(max-width:500px){
    .home .body .image{
        width: 80%;
    }
    .home .body .part p{
        width: 70%;
    }
}