<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="title">PinkyWay</div>
        </div>
        <ul class="nav">
            <a href="#" class="navItem"><li >Home</li></a>
            <a href="#" class="navItem"><li >Shop</li></a>
            <a href="#" class="navItem"><li >news</li></a>
            <a href="#" class="navItem"><li >Blog</li></a>
            <a href="#" class="navItem"><li >About us</li></a>
        </ul>
        <div class="body">
            <div class="part part1">
                <img src="images/workplace.jpg" alt="" class="image image1">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus placeat doloribus quod culpa vel magni sint accusamus. Quidem aspernatur nemo voluptates recusandae unde itaque ea quo voluptas cum ex. Pariatur.</p>
            </div>
            <div class="part part2">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus placeat doloribus quod culpa vel magni sint accusamus. Quidem aspernatur nemo voluptates recusandae unde itaque ea quo voluptas cum ex. Pariatur.</p>
                <img src="images/flower.jpg" alt="" class="image image2">
            </div>
            <div class="part part3">
                <img src="images/workplace.jpg" alt="" class="image image3">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus placeat doloribus quod culpa vel magni sint accusamus. Quidem aspernatur nemo voluptates recusandae unde itaque ea quo voluptas cum ex. Pariatur.</p>
            </div>
        </div>
        <div class="footer">\
            <div class="icons">
                <i class="fab fa-facebook"></i>
                <i class="fas fa-camera-retro"></i>
                <i class="fab fa-github-square"></i>
            </div>
            <div class="info">
                <a href="#">Info</a>
                <a href="#">Support</a>
                <a href="#">Marketing</a>
            </div>
            <div class="explain">
                <a href="#">Terms of Use</a>
                <a href="#">Privacy Policy</a>
            </div>
            <div class="copyright">
                <a href="#">ⓒ 2021 beming-dev</a>
            </div>
        </div>
    </div>
    
</body>
</html>